/*Fonts*/
@font-face {
    font-family: norse-bold;
    src: url(../fonts/norse-bold-webfont.woff2),
         url(../fonts/norse-bold-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pacifico;
    src: url(../fonts/pacifico-webfont.woff2),
         url(../fonts/pacifico-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-regular-webfont.woff2),
         url(../fonts/quicksand-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-bold-webfont.woff2),
         url(../fonts/quicksand-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: quicksand;
    src: url(../fonts/quicksand-bolditalic-webfont.woff2),
         url(../fonts/quicksand-bolditalic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

:root {
    font-size: 16px;
    --white: #FFF;
    --gray: #EEE;
    --shadow: #CCC;
    --light: #E5E7EB;
    --green: #596D48;
    --blue: #226bf5;
    --red: #f03838;
    --left-padding: 64px;
    --right-padding: max(64px, 15%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: max(847px, 100vh);
    display: flex;
    font-family: quicksand, sans-serif;
}

/*sidebar*/
aside {
    position: relative;
    height: 100%;
    min-width: 390px;
    overflow: clip;
    flex: 1;
    color: var(--white);
}

aside a {
    color: var(--white);
}

aside > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

aside > div {
    position: absolute;
    top: 20%;
    height: max(20%, 7rem);
    width: 100%;
    padding: 12px 0;
    background-color: #00000066;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

aside h1 {
    font-family: norse-bold;
    font-size: 6rem;
}

aside > p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

aside > div > img {
    height: 100%;
}

main {
    flex: 2;
    min-width: 426px;
    padding-block: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--gray);
}

main > * {
    padding: 0 var(--right-padding) 0 var(--left-padding);
}

main > * + * {
    margin-top: 40px;
}
main > div {
    margin-top: 54px;
    background-color: var(--white);
    align-self: stretch;
}

form {
    min-width: 316px;
    width: 100%;
    margin: 28px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

form > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: max(min(45%, 450px), 150px);
}

div > label,
div > input {
    width: 100%;
}

div > h2 {
    margin-top: 28px;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
}

div > label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    position: relative;
}

div > input {
    margin-top: 4px;
    appearance: none;
    border: 1px solid var(--light);
    border-radius: 6px;
    font-family: quicksand, sans-serif;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
}

div > input:hover,
div > input:focus {
    box-shadow: 3px 3px 4px var(--shadow);
}

div > input:focus,
div > input:focus-visible {
    border: 1px solid var(--blue);
    outline: none;
}

div > input:invalid {
    border: 1px solid var(--red);
}

div > label[for="psw"]::before {
    position: absolute;
    text-transform: none;
    content: "* Password do not match";
    color: var(--red);
    bottom: -52px;
    font-size: 0.8rem;
    font-weight: normal;
    width: 23ch;
}

main > button {
    background-color: var(--green);
    color: var(--white);
    font-family: quicksand, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 3rem;
    border: 2px solid var(--green);
    border-radius: 0.5rem;
    margin-left: var(--left-padding);
}

main > button:hover {
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
}

main > button:active {
    background-color: var(--shadow);
    color: var(--green);
}

main > p {
    font-size: 1rem;
    font-weight: bold;
}

main > p > a {
    color: var(--green);
    text-decoration: none;
}
main > p > a:hover {
    text-decoration: underline;
}